<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--===========================Bootstrap 4 CDN Link=======================================-->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

    <!--Google Fonts Link-->
    <link href="https://fonts.googleapis.com/css?family=Cuprum|El+Messiri|Lobster&display=swap" rel="stylesheet">

    <!--CSS Link-->
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/App.css">
    <link rel="stylesheet" href="/css/Admin.css">

    <title>Edit Profile</title>
</head>
<body class="studentProfileBody">
    <nav class="navbar navbar-expand-lg navbar-light fixed-top bg-light">
        
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <a class="navbar-brand" href="/studentHome">  <%= user.name%> </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    
                  <a class="nav-link" href="/studentHome">
                    <button class="btn btn-light">
                        Home
                    </button>
                    <span class="sr-only">(current)</span></a>
                </li>
                
                <li class="nav-item">
                    <a class="nav-link" href="/studentHome/timeLine">
                        <button type="button" class="btn btn-light">
                            Time Line
                        </button>
                    </a>
                </li>
                
                <li class="nav-item">
                    <a class="nav-link" href="/studentHome/chat">
                        <button type="button" class="btn btn-light">
                            Messages <span class="badge badge-primary">4</span>
                        </button>
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="#"> 
                        <button type="button" class="btn btn-light">
                            Notification <span class="badge badge-primary">15</span>
                        </button>
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/studentHome/settings">
                        <button class="btn btn-light">
                            Settings
                        </button>
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/login">
                        <button class="btn btn-danger">
                            Logout
                        </button>
                    </a>
                </li>

            </div>
        </nav>

        <br><br><br>

        <div class="row">
            <!--Left Part-->
            <div class="col-sm-2">
                <!--Empty Side-->
            </div>

            <!--Middle Part-->
            <div class="col-sm-8 bg card">
                <!--Profile Picture Section-->
                <br>
                <center>
                    <div class="container">
                        <img src="/images/n2.JPG" class="rounded-circle" height="200px" width="30%">
                    </div>
                </center>
                <br>
                <center>
                    <a href="/studentHome/studentProfile"><button class="btn btn-info">View Profile</button> </a>
                </center>
                <!--Profile Picture File Choose-->
                <center>
                
                    <br>
                    <div class="input-group">
                        
                        <div class="custom-file">
                          <input type="file" class="custom-file-input" id="inputGroupFile01"
                            aria-describedby="inputGroupFileAddon01">
                          <label class="custom-file-label" for="inputGroupFile01">Choose Profile Picture</label>
                        </div>
                        <div class="input-group-prepend">
                            <input type="submit" class="btn btn-success" value="Upload Profile Picture">
                          </div>
                      </div>
                </center>
                <br><br>
            </div>

            <!--Right Part-->
            <div class="col-sm-2">
                <!--Empty Side-->
            </div>
        </div>

        <br>
        <form method="POST">
        <!--Information Part-->
        <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-8 bg card">
                <div class="profileInformation">
                    <br>
                    <table border="0" width="100%">
                        <tr>
                            <td class="font-Normal" width="15%">
                                Name
                            </td>
                            <td>
                                <input type="text" class="txt-Box" name ="name" value="<%= user.name %>">
                            </td>
                        </tr>

                        <tr>
                            <td class="font-Normal">
                                E-mail
                            </td>
                            <td>
                                <input type="email" class="txt-Box" name="email" value="<%= user.email %>" readonly>
                            </td>
                        </tr>

                        <tr>
                            <td class="font-Normal">
                                Phone No
                            </td>
                            <td>
                                <input type="number" class="txt-Box" name="phone" value="<%= user.phone %>">
                            </td>
                        </tr>

                        <tr>
                            <td class="font-Normal">
                                Facebook
                            </td>
                            <td>
                                <input type="url" class="txt-Box" name="facebook" value="<%= user.facebook %>">
                            </td>
                        </tr>
                        <tr>
                            <td class="font-Normal">
                                Linked In
                            </td>
                            <td>
                                <input type="url" class="txt-Box" name="linkedin" value="<%= user.linkedin %>">
                            </td>
                        </tr>
                    </table>
                    <br>
                </div>
            </div>
            <div class="col-sm-2"></div>            
        </div>

        <br>
        <!--Academic Information-->
        <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-8 bg card">
                <div class="profileInformation">
                    <br>
                    <table border="0" width="100%">

                        <tr>
                            <td class="font-Normal">
                                AIUB ID
                            </td>
                            <td>
                                <input type="number" class="txt-Box" name="aiub_id" value="<%= user.aiub_id %>">
                            </td>
                        </tr>


                        <tr>
                            <td class="font-Normal" width="15%">
                                Department
                            </td>
                            <td>
                                <select class="txt-Box" name="department">
                                    <option> <%= user.department %> </option>
                                    <option value="Faculty of Science & Technology">Faculty of Science & Technology</option>
                                    <option value="Faculty of Engineering">Faculty of Engineering</option>
                                    <option value="Faculty of Art Social Sciences">Faculty of Art Social Sciences</option>
                                    <option value="Faculty of Business Administration">Faculty of Business Administration</option>
                                </select>
                            </td>
                        </tr>

                        <tr>
                            <td class="font-Normal">
                                Program
                            </td>
                            <td>
                                <select class="txt-Box" name = "program">
                                    <option><%= user.program %></option>
                                    <option value="CSE">CSE</option>
                                    <option value="CSSE">CSSE</option>
                                    <option value="CIS">CIS</option>
                                    <option value="CS">CS</option>
                                    <option value="EEE">EEE</option>
                                    <option value="CoE">CoE</option>
                                    <option value="BBA">BBA</option>
                                    <option value="Arch.">Arch.</option>
                                </select>
                            </td>
                        </tr>

                        <tr>
                            <td class="font-Normal">
                                Semester
                            </td>
                            <td>
                                <input type="number" class="txt-Box" name="semester" value="<%= user.semester %>">
                            </td>
                        </tr>

                        <tr>
                            <td class="font-Normal">
                                Thesis Name
                            </td>
                            <td>
                                <input type="number" class="txt-Box" name="thesisName" value="<%= user.thesisName %>">
                            </td>
                        </tr>
                    </table>
                    <br>
                </div>
            </div>
            <div class="col-sm-2"></div>            
        </div>

        <br>
        <!--Skills-->
        <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-8 bg card">
                <div class="profileInformation">
                    <br>
                    <table border="0" width="100%">
                        <tr>
                            <td class="font-Normal" width="15%">
                                Add Skills
                            </td>
                            <td>
                                <input type="text" name="skills" class="txt-Box" value="<%= user.skills %>">
                            </td>
                        </tr>
                    </table>
                    <br>
                </div>
            </div>
            <div class="col-sm-2"></div>            
        </div>

        <br>

        <!--Others Activity-->
        <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-8 bg card">
                <div class="profileInformation">
                    <br>
                    <table border="0" width="100%">

                        <!-- <tr>
                           <td class="font-Normal" width="15%">
                               LinkedIn
                           </td>
                           <td>
                               <input type="url" class="txt-Box" name ="txtLinkedIn" value="<%= user.linkedin %>">
                           </td>
                        
                       </tr> -->
                       <tr>
                           <td class="font-Normal" width="20%">
                               Github
                           </td>
                           <td>
                               <input type="url" class="txt-Box" name ="github" value="<%= user.github %>">
                           </td>
                           
                       </tr>

                       <tr>
                           <td class="font-Normal">
                               StackOverflow
                           </td>
                           <td>
                               <input type="url" class="txt-Box" name="Stackoverflow" value="<%= user.stackoverflow %>">
                           </td>
                           
                       </tr>

                       <tr>
                           <td class="font-Normal">
                               Hacker Rank
                           </td>
                           <td>
                               <input type="url" class="txt-Box" name="hackerrank" value="<%= user.hackerrank %>">
                           </td>
                           
                       </tr>
                       <!-- <tr>
                           <td class="font-Normal">
                               Online Judge
                           </td>
                           <td>
                               <input type="url" class="txt-Box" name="OnlineJudge" value="<%= user.stackoverflow %>">
                           </td>
                           
                       </tr> -->
                       <!-- <tr>
                           <td class="font-Normal">
                               IEEE
                           </td>
                           <td>
                               <input type="url" class="txt-Box" name="txtIEEE" value="">
                           </td> -->
                           
                       </tr>
                       <tr>
                           <td class="font-Normal">
                               Portfolio
                           </td>
                           <td>
                               <input type="url" class="txt-Box" name="portfolio" value="<%= user.Portfolio %>">
                           </td>
                           
                       </tr>
                       <!-- <tr>
                           <td class="font-Normal">
                               Youtube
                           </td>
                           
                           <td>
                               <input type="url" class="txt-Box" name="txtYoutube" value="">
                           </td>
                           
                       </tr> -->
                       <br><br>

                       <tr>
                           <td >
                               
                           </td>
                           
                           <td>
                               <center>
                                   <input type="submit" class="btn btn-success" name="update" value="Update Profile">
                                </center>
                           </td>
                           
                       </tr>
                   </table>
                </form>
                    <br>
                </div>
            </div>
            <div class="col-sm-2"></div>            
        </div>

        <!-- <div class="row">
            <div class="col-sm-4"></div>
            <div class="col-sm-4">
                <center>
                    
                    <input type="submit" class="btn btn-success" value="Update Profile">
                </center>
            </div>
            <div class="col-sm-4"></div>

        </div> -->

</body>
</html>