<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!--===========================Bootstrap 4 CDN Link=======================================-->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

    <!--Google Fonts Link-->
    <link href="https://fonts.googleapis.com/css?family=Cuprum|El+Messiri|Lobster&display=swap" rel="stylesheet">

    <!--CSS Link-->
    <link rel="stylesheet" href="/css/style.css">
    
    <title>Profile</title>
</head>
<body class = "studentProfileBody">
    
    <nav class="navbar navbar-expand-lg navbar-light fixed-top bg-light">
        
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <a class="navbar-brand" href="/studentHome">  <%= user.name%> </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    
                  <a class="nav-link" href="/studentHome">
                    <button class="btn btn-light">
                        Home
                    </button>
                    <span class="sr-only">(current)</span></a>
                </li>
                
                <li class="nav-item">
                    <a class="nav-link" href="/studentHome/timeLine">
                        <button type="button" class="btn btn-light">
                            Time Line
                        </button>
                    </a>
                </li>
                
                <li class="nav-item">
                    <a class="nav-link" href="/studentHome/chat">
                        <button type="button" class="btn btn-light">
                            Messages <span class="badge badge-primary">4</span>
                        </button>
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="#"> 
                        <button type="button" class="btn btn-light">
                            Notification <span class="badge badge-primary">15</span>
                        </button>
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/studentHome/settings">
                        <button class="btn btn-light">
                            Settings
                        </button>
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/login">
                        <button class="btn btn-danger">
                            Logout
                        </button>
                    </a>
                </li>

            </div>
        </nav>

        <br><br><br>
        
        <div class="row">
            <!--Left Part-->
            <div class="col-sm-2">
                <!--Empty Side-->
            </div>

            <!--Middle Part-->
            <div class="col-sm-8 bg card">
                <!--Profile Picture Section-->
                <br>
                <center>
                    <div class="container">
                        <img src="/images/n2.JPG" class="rounded-circle" height="200px" width="30%">
                    </div>
                    <text class="displayName"> <%= user.name%> </text>
                </center>
                <br>
                <center>
                    <a href="/studentHome/editProfile"><button class="btn btn-info">Update Profile</button> </a>
                </center>
                <br><br>
            </div>

            <!--Right Part-->
            <div class="col-sm-2">
                <!--Empty Side-->
                
            </div>

            
        </div>

        <br>
        <!--Information Part-->
        <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-8 bg card">
                <div class="profileInformation">
                    <table border="0" width="100%">
                        <tr>
                            <td class="infoHeading">
                                Email
                            </td>
                            <td class="infoItems">
                                <%= user.email%>
                            </td>
                        </tr>

                        <tr>
                            <td class="infoHeading">
                                Phone No
                            </td>
                            <td class="infoItems">
                                <%= user.phone%>
                            </td>
                        </tr>

                        <tr>
                            <td class="infoHeading">
                                Facebook
                            </td>
                            <td class="infoItems">
                                <a href="<%= user.facebook%>"><%= user.facebook%></a>
                            </td>
                        </tr>

                        <tr>
                            <td class="infoHeading">
                                LinkedIn
                            </td>
                            <td class="infoItems">
                                <a href="<%= user.linkedin%>"><%= user.linkedin%></a>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="col-sm-2"></div>            
        </div>
        <br>
        <!--Academic Info-->
        
            <div class="row">
                <div class="col-sm-2"></div>
                <div class="col-sm-8 bg card">
                    <div class="profileInformation">
                        <table border="0" width="100%">

                            <tr>
                                <td class="infoHeading">
                                    AIUB ID
                                </td>
                                <td class="infoItems">
                                    <%= user.aiub_id %>
                                </td>
                            </tr>

                            <tr>
                                <td class="infoHeading">
                                    Department
                                </td>
                                <td class="infoItems">
                                    <%= user.department %>
                                </td>
                            </tr>

                            <tr>
                                <td class="infoHeading">
                                    Program
                                </td>
                                <td class="infoItems">
                                    <%= user.program %>
                                </td>
                            </tr>

                            <tr>
                                <td class="infoHeading">
                                    Semester
                                </td>
                                <td class="infoItems">
                                    <%= user.semester %>
                                </td>
                            </tr>

                            <tr>
                                <td class="infoHeading">
                                    Thesis Name
                                </td>
                                <td class="infoItems">
                                    <%= user.thesisName %>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="col-sm-2"></div>            
            </div>

        <br>

        <!--Skill-->

        <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-8 bg card">
                <div class="profileInformation">
                    <table border="0" width="100%">
                        <tr>
                            <td class="infoHeading">
                                Skills
                            </td>
                            <td class="infoItems">
                                <%= user.skills %>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="col-sm-2"></div>            
        </div>

        <br>

        <!--Others Activity-->

        <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-8 bg card">
                <div class="profileInformation">
                    <table border="0" width="100%">
                        <tr>
                            <td class="infoHeading">
                                Github
                            </td>
                            <td class="infoItems">
                                <a href="<%= user.github %>"><%= user.github %></a>
                            </td>
                        </tr>

                        <tr>
                            <td class="infoHeading">
                                Stack Overflow
                            </td>
                            <td class="infoItems">
                                <a href="<%= user.stackoverflow %>"> <%= user.stackoverflow %></a>
                            </td>
                        </tr>

                        <tr>
                            <td class="infoHeading">
                                Hacker Rank
                            </td>
                            <td class="infoItems">
                                <a href="<%= user.hackerrank %>"><%= user.hackerrank %></a>
                            </td>
                        </tr>

                        <!-- <tr>
                            <td class="infoHeading">
                                Online Judge
                            </td>
                            <td class="infoItems">
                                <a href="#">https://www.linkedin.com</a>
                            </td>
                        </tr> -->

                        <tr>
                            <td class="infoHeading">
                                Portfolio
                            </td>
                            <td class="infoItems">
                                <a href="<%= user.portfolio %>"><%= user.portfolio %></a>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="col-sm-2"></div>            
        </div>
        <br>
        <!--Fotter-->
        <div class="fotter">
            copyright@nazib
        </div>
       
</body>
</html>